################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Task14.3.Practice.dir/.idea
/.vscode
/bin/Debug/net7.0
/obj
/.vs/Task14.3.Practice
*.sln
